<div class="container-fluid align-items-center">

        <div class="card">
            <div class="card-header">
                New Subcategory for {{catname}}
            </div>
            <div class="card-body">
                <div class="form-group">
                    <input type="txt" id="catId" class="form-control" id="exampleInputEmail1" 
                        name="CatID" value="{{id}}" autofocus readonly hidden>

                </div>

                <div class="form-group">
                    <label for="subName">SubCatName</label>
                    <input type="txt" class="form-control" id="subName" 
                        name="SubCatName">
                </div>


            </div>
            <div class="card-footer text-muted">
                <a class="btn btn-primary" href="/admin/categories" role="button">
                    <i class="fa fa-backward" aria-hidden="true"></i>
                    Back to List
                </a>
                <button id="btn-submit" class="btn btn-outline-success">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    Save
                </button>
            </div>
        </div>
</div>

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

   <script>
    $('#btn-submit').on('click',function(){
        console.log($('#subName').val());
        if(!$('#subName').val()){
            Swal.fire({
            title: 'Thất bại!',
            text: 'Vui lòng nhập tên Category',
            icon: 'error',
            confirmButtonText: 'OK'
            })
        }
        else{
            $.ajax({
                url: "/admin/categories/addsub",
                type:"post",
                data: { SubCatName: $('#subName').val(), CatId: $('#catId').val()},
                success: function (response) {
                    if(response === "true")
                        {Swal.fire({
                        title: 'Thành công!',
                        text: 'Bạn đã thêm SubCategory mới thành công.',
                        icon: 'success',
                        confirmButtonText: 'OK'
                        })
                        .then(function() {
                            location.href="/admin/categories";
                        })
                        }
                    else{
                        Swal.fire({
                        title: 'Thất bại!',
                        text: response,
                        icon: 'error',
                        confirmButtonText: 'OK'
                        })
                    }
                }
            });
           
        }
    })
</script>
{{/section}}