
<h2>TEACHER QUEUE</h2>
<div id="toast"></div>


{{#each teachers}}

<div class="row mt-4">
        <div class="col-4">
            <img width="260px" height="160px" class="card-img-top" src="/public/images/courses/1on2y0.jpg"
                alt="Card image cap">
        </div>
        <div class="col-8">
            <div class="card-body d-flex flex-column my-0 p-0">
                <p class="card-text text-primary font-weight-bold">{{this.name}}</p>
                <p class="card-subtitle text-secondary teacher-text">{{this.short_description}}</p>
                <div class="d-flex w-100 justify-content-end position-absolute" >
                    <button class="btn btn-censor btn-ok btn-outline-success" data-censor="ok" data-id="{{this._id}}">Duyệt</button>
                    <button class="btn btn-censor btn-non btn-outline-danger ml-3" data-censor="non" data-id="{{this._id}}">Từ chối</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}




{{#section 'js'}}
    <script>

  function showErrorToast() {
    toast({
      title: "Thất bại!",
      message: "OOPS. Something went wrong !!!",
      type: "error",
      duration: 5000
    });
  }
        $('.btn-censor').on('click',function(e){
            const idTeacher = e.target.getAttribute("data-id");
            const type = e.target.getAttribute("data-censor");
            var btn = $(e.target);
            var parentRow = btn.parent().parent().parent().parent();
            console.log(parentRow);
            if (type==='ok'){
                var typeToast = 'success';
                var msg = 'Bn đã duyệt thành công';
            }
            else{
                var typeToast = 'sad';
                var msg = 'Bn đã xóa thành công';
            }
            $.ajax({
                    url: "/teacher/censor",
                    type:"patch",
                    data: { idTeacher, type},
                    success: function (response) {
                        if (response == "false") {
                            showErrorToast();
                        }
                        else{
                            parentRow.fadeOut(500,'linear')
                            toast({
                                title: "Thành công!",
                                message: msg,
                                type: typeToast,
                                duration: 5000
                                });
                        }
                        
                        
                    }
                });
        })
    </script>
{{/section}}
   