<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item nav-category">
        <a class="nav-link" href="#">Link</a>
        
        <div class="category-one">
          <ul class="category-one-menu">
            <li class="category-one-item">
              <a href="#" class="category-one-item-link">
                Test 1
              </a>
            </li>
            <li class="category-one-item">
              <a href="#" class="category-one-item-link">
                Test 1
              </a>
            </li>
            <li class="category-one-item">
              <a href="#" class="category-one-item-link">
                Test 1
              </a>
            </li>
            <li class="category-one-item">
              <a href="#" class="category-one-item-link">
                Test 1
              </a>
            </li>
            <li class="category-one-item">
              <a href="#" class="category-one-item-link">
                Test 1
              </a>
            </li>
            <li class="category-one-item">
              <a href="#" class="category-one-item-link">
                Test 1
              </a>
            </li>
          </ul>
        </div>
        <div class="category-two">
          <ul class="category-two-menu">
            <li class="category-two-item">Test 2</li>
            <li class="category-two-item">Test 2</li>
            <li class="category-two-item">Test 2</li>
            <li class="category-two-item">Test 2</li>
            <li class="category-two-item">Test 2</li>
            <li class="category-two-item">Test 2</li>
          </ul>
        </div>
      </li>
     
      
    </ul>
    
  </div>
</nav>