<div class="container-fluid menu-edit">
    <div class="menu-edit-title">
        <h2>My learning</h2>
    </div>
    <div class="menu-edit-link">
            {{#ifCond role '===' 1}}
            <a {{#ifequal url '/registered-courses'}}class="tag-menu-active" {{else}}{{/ifequal}} href="/user/registered-courses">Courses</a>
            <a {{#ifequal url '/watch-list'}}class="tag-menu-active"{{else}}{{/ifequal}} href="/user/watch-list">Watchlist</a>
            {{/ifCond}}
            <a {{#ifequal url '/edit-profile'}}class="tag-menu-active"{{else}}{{/ifequal}} href="/user/edit-profile">Profile</a>
            <a {{#ifequal url '/edit-account'}}class="tag-menu-active"{{else}}{{/ifequal}} href="/user/edit-account">Account</a>

    </div>
</div>
<link rel="stylesheet" href='/public/stylesheets/form.css'/>
<link rel="stylesheet" href='/public/stylesheets/user.css'/>
