<div class="container-fluid p-0 my-5" style="width: 75%;">
    <div class="row">
        <div class="col-4">
            <img width="260px" height="160px" class="card-img-top" src="/public/images/courses/1.png"
                alt="Card image cap">
        </div>
        <div class="col-8">
            <div class="card-body d-flex flex-column my-0 p-0">
                <p class="card-text text-primary font-weight-bold">Web Development</p>
                <h6 class="card-title font-weight-bold">Ultimate Web Developer Course </h6>
                <p class="card-subtitle text-secondary teacher-text">Ho Tuan Thanh</p>
                <div class="_43">
                    <span class="number-rating"></span>
                    <div class="stars-outer">
                        <div class="stars-inner"></div>
                    </div>
                    <span class="number-rates">(4.323.342)</span>
                </div>
                <div class="d-flex w-100 justify-content-end position-absolute" >
                    <h5 class="card-text font-weight-bold delete-price text-right"> $200 </h5>
                    <h5 class="card-text font-weight-bold align ml-3 text-right"> $199.99 </h5>
                </div>
                <a href="#" class="btn btn-primary align-self-start mt-auto">Go to course</a>
            </div>
        </div>
    </div>
</div>