{{>menu-edit}}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3 p-2">
      <div class="card text-left">
        <div class="text-center pt-5">
          <img width="100" height="100" src="/public/images/user1.png" alt="user" class="rounded-circle shadow">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">John Witch</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-9 p-2">
      <form method="POST" class="form" id="form-1" action="/student/{{user._id}}?_method=PUT">
        <div class="card">
          <div class="card-header align-items-center text-center">
            <h3>
              Public profile
            </h3>
            <p>Add information about yourself</p>
          </div>
          <div class="card-body">

            <div class="form-group">
            <label for="name">Name</label>
            <input type="text"  class="form-control" value ="{{user.name}}" id="name" name="name" >
              <span class="form-message"></span>
        </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" value={{user.email}} id="email" aria-describedby="emailHelp"
                name="email">
              <span class="form-message"></span>


            </div>


          </div>
          <div class="card-footer text-muted text-center">
            <button type="submit" class="btn btn-outline-success">
              <i class="fa fa-check" aria-hidden="true"></i>
              Save changes
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

  <script src="/public/javascripts/validator.js"></script>
<script>
  Validator({
            form:'#form-1',
            formGroup:'.form-group',
            errorSelector:'.form-message',
            rules:[
                Validator.isRequired('#email','Vui lòng nhập i meo'),
                Validator.isRequired('#name','Vui lòng nhập tên của bạn'),
                Validator.isEmail('#email','Vui lòng nhập lại i meo'),
            ],
            
        }
        )
</script>