{{>menu-edit}}
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-3 p-2">
      <div class="card text-left">
        <div class="text-center pt-5">
          <img width="100" height="100" src="{{user.avatar}}" alt="user" class="rounded-circle shadow">
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">{{user.name}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-9 p-2">
      <form id="form-1" method="POST">
        <div class="card">
          <div class="card-header align-items-center text-center">
            <h3>
              Account
            </h3>
            <p>Edit your account settings and change your password here.</p>
          </div>


          <div class="card-body">

            <div class="form-group">
              <label for="oldPass">Current Password</label>
              <input type="password" class="form-control" id="oldPass" name="oldPass">
              <span class="form-message" id="oldPass-msg"></span>
            </div>
            <div class="form-group">
              <label for="newPass">New Password</label>
              <input type="password" class="form-control" id="newPass" name="newPass">
              <span class="form-message"></span>
            </div>
            <div class="form-group">
              <label for="newPassConfirm">Re-type New Password</label>
              <input type="password" class="form-control" id="newPassConfirm">
              <span class="form-message"></span>
            </div>

          </div>



        </div>
        <div class="card-footer text-muted text-center">
          <button type="" class="btn btn-outline-success " id="change-pass">
            <i class="fa fa-check" aria-hidden="true"></i>
            Change password
          </button>
        </div>
    </div>
    </form>
  </div>
</div>
{{#ifCond role '===' 1}}
  <div id="role" data-role='student'></div>
{{/ifCond}}
{{#ifCond role '===' 2}}
  <div id="role" data-role='teacher'></div>
{{/ifCond}}
{{#section 'js'}}
<script src="/public/javascripts/validator.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script>
     
  
  Validator({
              form:'#form-1',
              formGroup:'.form-group',
              errorSelector:'.form-message',
              rules:[
                  Validator.isRequired('#oldPass','Vui lòng nhập mật khẩu cũ của bạn'),
                  Validator.isRequired('#newPass','Vui lòng nhập mật khẩu mới'),
                  Validator.minLength('#newPass',6),
                  Validator.isConfirmed('#newPassConfirm',function() {
                    return document.querySelector('#form-1 #newPass').value;
                  },'Mật khẩu không khớp')
              ],
              onSubmit: function(data){
                console.log(data);
                $.ajax({
                    url: `/${$('#role').attr('data-role')}/change`,
                    type:"patch",
                    data: { oldPass: data.oldPass, newPass: data.newPass },
                    success: function (response) {
                        //sai mat khau
                        if (response == "false") {
                            Swal.fire({
                                title: 'Sai mật khẩu!',
                                text: 'Bạn đã nhập sai mật khẩu cũ.',
                                icon: 'warning',
                                confirmButtonText: 'OK'
                              })
                            var oldPassMsg=document.querySelector(".form-message");
                            var formOldPass=document.querySelector('.form-group');
                            formOldPass.classList.add("invalid");
                            
                            oldPassMsg.innerHTML = 'Bạn đã nhập sai mật khẩu cũ. Vui lòng nhập đúng'

                        }
                        else{
                            Swal.fire({
                                title: 'Thành công!',
                                text: 'Bạn đã đổi mật khẩu thành công.',
                                icon: 'success',
                                confirmButtonText: 'OK'
                              })
                              .then(function() {
                                location.href='/';
                            })
                        }
                    }
                });
              }
              
          }
          )

  </script>
{{/section}}